@font-face {
  font-family: "Reckoner";
  src: url(../fonts/Reckoner.ttf) format("truetype");
}

@font-face {
  font-family: "REIS";
  src: url(../fonts/REIS-regular.ttf) format("truetype");
}

.space-100{
    height: 100px;
    display: block;
}
pre.prettyprint{
    background-color: #ffffff;
    border: 1px solid #999;
    margin-top: 20px;
    padding: 20px;
    text-align: left;
}
.atv, .str{
    color: #05AE0E;
}
.tag, .pln, .kwd{
     color: #3472F7;
}
.atn{
  color: #2C93FF;
}
.pln{
   color: #333;
}
.com{
    color: #999;
}

.section {
  padding: 30px 0;
  position: relative;
  background-color: #FFFFFF;
}

.section-gray {
  background-color: #EEEEEE;
}

.section-dark-gray {
  background-color: #333333;
}

.section-white {
  background-color: #FFFFFF;
}

.section-blue {
  background-color: #003366;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.quote-box {
  width: 100%;
  min-height: 420px;
  padding: 10px 30px;
  background-color: #003366;
}

.btn-invisible{
  background-color: transparent;
  font-size: 50px;
  text-align: center;
}

.big-add{
    border-color: #00A4E4;
    color: #00A4E4;
    border-radius: 0!important;
    background-color: transparent;
    font-weight: 700!important;
    border-width: 2px;
    font-size: 14px;
    font-style: normal;
    padding: 16px 60px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}
.big-add:hover{
   border-color: #00A4E4;
   color: white;
   background-color: #00A4E4;
}

.card{
        width: 100%;
        /*min-height: 390px;*/
        padding: 10px 30px;
        border: 1px solid #DDDDDD;
        border-radius: 10px;
        margin-top: 30px;
        text-align: center;
   }
.card:hover{
  /*background: red;*/
}
.card .icon i{
        font-size: 63px;
        color: #9a9a9a;
        width: 85px;
        height: 85px;
        line-height: 80px;
        text-align: center;
        border-radius: 50%;
        margin: 0 auto;
        margin-top: 20px;
   }/*#E01724*/

.card.card-blue{ 
      border-color: #CCE7F5;
    }
.card.card-blue .icon i{
      color:#00bbff;
    }
    
.card  h4{
        font-weight: 500;
        font-size: 28px;
        /*margin: 30px 0 -15px;*/
   }

.card  p{
        font-size: 16px;
        line-height: 22px;
        color: #777;
   }
.card .icons i {
  font-size: 40px;
  padding: 20px;
}

.add-goal-form{
  padding-top: 30px;
}

.imageAndText {
  position: relative;
}

.imageAndText .col {
  position: absolute; 
  z-index: 1; 
  top: 0; 
  left: 0; 
 
}

.imageAndText p {
    /*font-family: 'REIS';
    font-weight: 500;
    font-style: italic;*/
    font-size: 250px!important;
    color: white;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    margin-top: 18%;
}

.layer {
  background-color: rgba(0, 187, 255, 0.7);
  background-color: rgba(168, 15, 15, 0.7);
  background-color: rgba(0, 51, 102, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.shape {
    width:100%;
    margin:0 auto;
}

.footer-section p{
  color: white;
}