/* flip the pane when hovered */
.profile-card-container:hover .profile-card, .profile-card-container.hover .profile-card {
    -webkit-transform: rotateY( 180deg );
-moz-transform: rotateY( 180deg );
 -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}

.profile-card-container.static:hover .profile-card, .profile-card-container.static.hover .profile-card {
    -webkit-transform: none;
-moz-transform: none;
 -o-transform: none;
    transform: none;
}
/* flip speed goes here */
.profile-card {
     -webkit-transition: -webkit-transform .5s;
   -moz-transition: -moz-transform .5s;
     -o-transition: -o-transform .5s;
        transition: transform .5s;
-webkit-transform-style: preserve-3d;
   -moz-transform-style: preserve-3d;
     -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    -webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
     -o-backface-visibility: hidden;
        backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFF;
}

/* front pane, placed above back */
.front {
    z-index: 2;
}

/* back, initially hidden pane */
.back {
        -webkit-transform: rotateY( 180deg );
   -moz-transform: rotateY( 180deg );
     -o-transform: rotateY( 180deg );
        transform: rotateY( 180deg );
        z-index: 3;
}
.profile-card{
    background: none repeat scroll 0 0 #FFFFFF;
    color: #444444;
}
.profile-card-container, .front, .back {
    width: 100%;
    height: 420px;
}
.profile-card .cover{
    height: 105px;
    overflow: hidden;
}
.profile-card .cover img{
    width: 100%;
}
.profile-card .user{
    border-radius: 50%;
    display: block;
    height: 120px;
    margin: -55px auto 0;
    overflow: hidden;
    width: 120px;
}
.profile-card .user img{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 4px solid #FFFFFF;
    width: 100%;
}
.profile-card .content{
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    padding: 10px 20px 20px;
}
.profile-card .content .main {
    min-height: 160px;
}
.profile-card .back .content .main {
    height: 215px;
}
.profile-card .name {
    font-size: 22px;
    line-height: 28px;
    margin: 10px 0 0;
    text-align: center;
    text-transform: capitalize;
}
.profile-card h5{
    margin: 5px 0;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    font-size: 30px;
}
.profile-card .front h3{
    font-size: 50px!important;
    padding-bottom: 20px;
    font-family: "Ohmega Sans";
}
.profile-card h4{
    color: #00bbff;
    font-family: "Baron Neue";
    font-size: 35px; 
}
.profile-card p{
    color: #003366;
}
.profile-card .profession{
    color: #999999;
    text-align: center;
    margin-bottom: 20px;
}